html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content, main, header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    align-items: initial;
    height: 100%;
    width: 100%;
    
    justify-content: space-between;
}

header {
    background-color: orange;
}

main {
    justify-content: center;
}

footer {
    background-color: grey;
    
}

.home, .menu, .contact {
    background-color: lightsalmon;
    padding: 25px; 
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 25px; 
}

img {
    width: 200px;
}
